<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZMQTxHostname" value="127.0.0.1" />
    <add key="ZMQTxPort" value="28333" />
    <add key="ZMQBlockHostname" value="127.0.0.1" />
    <add key="ZMQBlockPort" value="28331" />
    <add key="WebsocketBindIP" value="127.0.0.1" />
    <add key="WebsocketBindPort" value="8181" />
  </appSettings>
</configuration>